body {
    background-color: #f7f1e3;
}
h1 {
    background-color: #f7f1e3;
    margin-top:0;
    margin-bottom: 0;
    font: normal 24px Helvetica;
    text-align: right;
    padding: 0;
    padding-bottom: 52px;
    padding-right: 20px;
}

hr {
    clear: both;
}
html,body {
    padding:0; margin:0;
}
cooking.png {
    float:left; 
    top:-10px;
}
h3 {
    background-color: #d8b189;
    margin-top: 0;
    margin-bottom: 0;
    padding: 150px;
    font: normal 44px Helvetica;
    border: 1px solid black;
    text-align: center;    
}      

a {
    background-color: #b2e4bb;
    color: black;
    font: normal 32px Helvetica;
    border: 1px solid black
}
h2 {
    background-color: #83c2a3;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font: normal 60px Myriad Pro;
    text-align: center;  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
    font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #83c2a3;
}
.nav {
    
}

p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
div.f7f1e3 {
  background-color: #f7f1e3;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}
h4 {
    margin: 15x 15x 15x 15x;
    padding: 0;
    height: auto;
    font: normal 20px Helvetica;
    text-align: center;
    background-color: #f7f1e3;
    
    
}
div.item {
    vertical-align: top;
    display: inline-block;
    width: 120px;
    margin: 10px 140px 150px 140px;
    padding: 0;
    height: auto;
    font: normal 20px Helvetica;
    text-align: center;
    background-color: #f7f1e3;
    float: center;
}

h3 img {
    margin-top: -60px;
}
.caption {
    display: block;
}